:root {
    --main-color: #1e1e1e;
    --aside-color: #151515;
    --back-color: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Advent Pro', sans-serif;
}

ul, address, a {
    color: white;
    list-style: none;
}

body, html {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--back-color);
    scroll-behavior: smooth;
}

.body-content {
    width: 68%;
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: inherit;
    height: 65px;
    background-color: var(--aside-color);
    border-bottom: 1px solid white;
}

nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.navigation {
    height: 100%;
}

nav ul li {
    height: 100%;
    float: right;
}

nav ul li a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    color: white;
    transition: .2s ease;
}

.navigation li a:hover:not(.dropdown-menu li a) {
    background-color: white;
    color: black;
}

.navigation li:not(.dropdown-menu li) {
    height: 100%;
    margin: 0 80px;
    position: relative;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    background-size: 100px;
    background-color: var(--aside-color);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
    width: 180px;
    position: absolute;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    visibility: hidden;
    transition: 100ms linear;
}

.dropdown-menu li {
    margin-bottom: 8px;
}

.dropdown-menu li a {
    position: relative;
}

.dropdown-menu li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0.5px;
    background-color: white;
    transition: width 0.3s ease;
    transform: translateX(-50%);
}

.dropdown-container li a:hover::after {
    width: 100%;
}

.dropdown-container:hover > .dropdown-menu {
    visibility: visible;
    transform: rotateX(0deg);
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 100%;
    border-right: 1px solid white;
    color: white;
    background-color: var(--aside-color);
}

.sidebar-left {
    padding: 25px 15px;
}

.sidebar-left-header article > * {
    margin-top: 15px;
}

.logo {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.sidebar-left-block p {
    font-size: 14px;
}

.sidebar-left-block li {
    display: flex;
    justify-content: space-between;
}

.resume-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100%;
    background-color: var(--main-color);
}

.resume-entry {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: white;
}

.content-block-article > *:not(:last-child) {
    margin-bottom: 5px;
}

.resume-entry > *:not(:first-child), .resume-entry section > *:not(:first-child) {
    margin-top: 15px;
}

.ol-content > * {
    margin-left: 20px;
}

.align-right {
    font-size: 12px;
    margin-left: auto;
}

.content-block-text {
    display: flex;
    align-items: center;
}
